:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: linear-gradient(#2a2a44 50%, #33334e 50%);
  background-origin: content-box;
  background-attachment: local;
  background-size: 3em 3em;
  border-left: solid 8px #6b5d53;
}

div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  padding: 2px .5em;
}

div.code-toolbar > .toolbar {
  opacity: 0.7;
}
