:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: linear-gradient(#2a2a44 50%, #33334e 50%);
  background-origin: content-box;
  background-attachment: local;
  background-size: 3em 3em;
}

pre[class*="language-"] {
  padding-top: 2em;
}

div.code-toolbar > .toolbar span:hover {
  color: #e4e4e4;
}

div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  padding: 0.5em 0.5em 5px;
  color: #e4e4e4;
}

div.code-toolbar > .toolbar {
  opacity: initial;
  top: 0;
  left: 4em;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  color: #e4e4e4;
  font-size: 1em;
  background: #f5f2f0;
  background: rgba(224, 224, 224, 0.2);
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
  border-radius: 0;
}
